.cover
**/.cover
.git
.gtm

.idea
**/.vscode
*.code-workspace

.bin
**/.bin
**/*.zip
**/test
**/*-bundle.yaml
.env

*.pem
*.b64

**/.DS_Store
**/debug
**/debug.test

# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.*
*.tfvars
*.tfvars.json
override.tf
override.tf.json
terraform.tfvars
.terraform.lock.hcl
