name: Deploy Spacelift infrastructure

on:
  push:
    branches:
      - master
    paths:
      - .github/workflows/spacelift-apply.yml
      - .github/workflows/spacelift-plan.yml
      - 'spacelift/*.tf'
  workflow_dispatch:

env:
  TF_VERSION: 1.5.7

jobs:
  paths-filter:
    name: Filter Paths
    runs-on: ubuntu-latest
    outputs:
      spacelift: ${{ steps.filter.outputs.spacelift }}
    steps:
      - name: Checkout the latest commit
        uses: actions/checkout@v5

      - name: Validate changed files
        uses: dorny/paths-filter@v3
        id: filter
        with:
          filters: |
            spacelift:
              - 'spacelift/**'

  terraform-apply:
    name: Terraform apply Spacelift
    needs:
      - paths-filter
    if: ${{ needs.paths-filter.outputs.spacelift == 'true' && always() }}
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read
    environment: spacelift
    defaults:
      run:
        working-directory: spacelift

    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: ${{ secrets.AWS_ROLE_ARN }}
          role-session-name: GitHubActionsSession-spacelift
          aws-region: ${{ vars.AWS_REGION }}

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v2
        with:
          terraform_version: ${{ env.TF_VERSION }}

      - name: Terraform init
        env:
          TF_VAR_api_key_endpoint: ${{ vars.SPACELIFT_API_KEY_ENDPOINT }}
          TF_VAR_spacelift_key_id: ${{ secrets.SPACELIFT_API_KEY_ID }}
          TF_VAR_spacelift_key_secret: ${{ secrets.SPACELIFT_API_KEY_SECRET }}
        run: |
          terraform init -input=false \
            -backend-config="bucket=${{ vars.BACKEND_BUCKET }}" \
            -backend-config="key=terraform.tfstate" \
            -backend-config="region=${{ vars.AWS_REGION }}" \
            -backend-config="dynamodb_table=${{ vars.BACKEND_DDB_TABLE }}" \
            -backend-config="encrypt=true"

      - name: Terraform fmt
        run: terraform fmt -check

      - name: Terraform validate
        run: terraform validate -no-color

      - name: Terraform workspace
        run: |
          WORKSPACE="spacelift"
          echo "Ensuring workspace '$WORKSPACE' exists and is selected..."
          if terraform workspace list | sed 's/^[* ]*//g' | grep -qx "$WORKSPACE"; then
            terraform workspace select "$WORKSPACE"
          else
            terraform workspace new "$WORKSPACE"
          fi

      - name: Terraform apply
        env:
          TF_VAR_api_key_endpoint: ${{ vars.SPACELIFT_API_KEY_ENDPOINT }}
          TF_VAR_spacelift_key_id: ${{ secrets.SPACELIFT_API_KEY_ID }}
          TF_VAR_spacelift_key_secret: ${{ secrets.SPACELIFT_API_KEY_SECRET }}
        run: terraform apply -input=false -auto-approve
